### 1) Download dataset and create college database:

In [1]:
%env INSTANCE=my

env: INSTANCE=my

In [2]:
!gsutil cp gs://cs327e-open-access/mysql_college.zip .

Copying gs://cs327e-open-access/mysql_college.zip...
/ [1 files][  1.9 KiB/  1.9 KiB]
Operation completed over 1 objects/1.9 KiB.

In [3]:
!unzip mysql_college.zip

Archive:  mysql_college.zip
  inflating: class.csv
  inflating: create_tables.sql
  inflating: instructor.csv
  inflating: student.csv
  inflating: teaches.csv

In [4]:
!mysql < /home/jupyter/snippets/create_tables.sql

In [5]:
!mysql college -e "show tables"

+-------------------+
| Tables_in_college |
+-------------------+
| Class             |
| Instructor        |
| Student           |
| Teaches           |
+-------------------+

### 2) Describe each table:

In [6]:
!mysql college -e "desc Class"

+---------+--------------+------+-----+---------+-------+
| Field   | Type         | Null | Key | Default | Extra |
+---------+--------------+------+-----+---------+-------+
| sid     | char(12)     | YES  |     | NULL    |       |
| cno     | char(6)      | YES  |     | NULL    |       |
| cname   | varchar(200) | YES  |     | NULL    |       |
| credits | int(11)      | YES  |     | NULL    |       |
| grade   | char(2)      | YES  |     | NULL    |       |
+---------+--------------+------+-----+---------+-------+

In [7]:
!mysql college -e "desc Instructor"

+-------+--------------+------+-----+---------+-------+
| Field | Type         | Null | Key | Default | Extra |
+-------+--------------+------+-----+---------+-------+
| tid   | char(12)     | YES  |     | NULL    |       |
| name  | varchar(200) | YES  |     | NULL    |       |
| dept  | varchar(200) | YES  |     | NULL    |       |
+-------+--------------+------+-----+---------+-------+

In [1]:
!mysql college -e "desc Student"

+--------+--------------+------+-----+---------+-------+
| Field  | Type         | Null | Key | Default | Extra |
+--------+--------------+------+-----+---------+-------+
| sid    | char(12)     | YES  |     | NULL    |       |
| fname  | varchar(200) | YES  |     | NULL    |       |
| lname  | varchar(200) | YES  |     | NULL    |       |
| dob    | date         | YES  |     | NULL    |       |
| status | char(3)      | YES  |     | NULL    |       |
+--------+--------------+------+-----+---------+-------+

In [9]:
!mysql college -e "desc Teaches"

+-------+----------+------+-----+---------+-------+
| Field | Type     | Null | Key | Default | Extra |
+-------+----------+------+-----+---------+-------+
| tid   | char(12) | YES  |     | NULL    |       |
| cno   | char(6)  | YES  |     | NULL    |       |
+-------+----------+------+-----+---------+-------+

### 3) Import tables (Class, Student, Instructor, Teaches):

In [11]:
!gcloud sql import csv $INSTANCE gs://cs327e-open-access/mysql_college/class.csv --database=college --table=Class --quiet

Importing data into Cloud SQL instance...done.
Imported data from [gs://cs327e-open-access/mysql_college/class.csv] into [https://sqladmin.googleapis.com/sql/v1beta4/projects/cs327e-sp2021/instances/my].

In [ ]:
!gcloud sql import csv $INSTANCE gs://cs327e-open-access/mysql_college/instructor.csv --database=college --table=Instructor --quiet

In [ ]:
!gcloud sql import csv $INSTANCE gs://cs327e-open-access/mysql_college/student.csv --database=college --table=Student --quiet

In [ ]:
!gcloud sql import csv $INSTANCE gs://cs327e-open-access/mysql_college/teaches.csv --database=college --table=Teaches --quiet

### 4) Check record count for each table:

In [13]:
!mysql college -e "select count(*) from Class"

+----------+
| count(*) |
+----------+
|       17 |
+----------+

In [14]:
!mysql college -e "select count(*) from Student"

+----------+
| count(*) |
+----------+
|       13 |
+----------+

In [15]:
!mysql college -e "select count(*) from Instructor"

+----------+
| count(*) |
+----------+
|       11 |
+----------+

In [12]:
!mysql college -e "select count(*) from Teaches"

+----------+
| count(*) |
+----------+
|       13 |
+----------+

### 5) Sample records from each table:

In [25]:
!mysql college -e "select * from Student"

+----------+---------+----------+-------------+--------+
| sid      | fname   | lname    | dob         | status |
+----------+---------+----------+-------------+--------+
| kev18    | Kevin   | Lin      | May-10-1999 | CUR    |
| natea    | Nathan  | Anderson | Apr-04-2000 | PRO    |
| sudeepa4 | Sudeepa | Roy      | Oct-01-2001 | CUR    |
| kgomez9  | Katie   | Gomez    | 2001-03-03  | PRO    |
| jerryh   | Jerry   | Hargrove | 1999-01-03  | CUR    |
| jc       | James   | Cowe     | 2000-04-22  | CUR    |
| dchen    | David   | Chen     | 08/22/2000  | PRO    |
| ryan22   | Ryan    | Watson   | 07/11/2000  | PRO    |
| paulg    | Paul    | Gore     | 09/17/2000  | CUR    |
| aprilz   | April   | Lopez    | 01/10/2000  | CUR    |
| nitinm   | Nitin   | Mogal    | 07/31/1999  | PRO    |
| bzen26   | Biswa   | Zen      | 04/22/1998  | CUR    |
+----------+---------+----------+-------------+--------+

In [27]:
!mysql college -e "select * from Class order by sid"

+----------+--------+---------------------------------------+---------+-------+
| sid      | cno    | cname                                 | credits | grade |
+----------+--------+---------------------------------------+---------+-------+
| aprilz   | CS373  | Software Engineering                  |       3 |       |
| aprilz   | M358K  | Applied Statistics                    |       3 |       |
| bzen26   | CS313E | Elements of Software Engineering      |       3 | B+    |
| jc       | CS327E | Elements of Databases                 |       3 |       |
| jc       | CS331E | Elements of Software Engineering      |       3 |       |
| jc       | CS313E | Elements of Software Design           |       3 |       |
| jerryh   | CS329E | Elements of Web Programming           |       3 | A-    |
| jerryh   | CS327E | Elements of Databases                 |       3 | B     |
| kev18    | CS329E | Elements of Web Programming           |       3 |       |
| kev18    | CS347  | Data Management                       |       3 |       |
| kev18    | M362K  | Probability I                         |       3 |       |
| paulg    | CS313E | Elements of Software Design           |       3 |       |
| paulg    | CS326E | Elements of Networking                |       3 | A-    |
| paulg    | CS329E | Elements of Web Programming           |       3 | A     |
| sudeepa4 | M328K  | Intro to Number Theory                |       3 |       |
| sudeepa4 | CS303E | Elements of Computers and Programming |       3 | NULL  |
+----------+--------+---------------------------------------+---------+-------+

In [28]:
!mysql college -e "select * from Instructor"

+---------+----------------+------------------+
| tid     | name           | dept             |
+---------+----------------+------------------+
| scohen  | Shirley Cohen  | Computer Science |
| neeman  | Neeman, Joe    | Mathematics      |
| bulko   | Bulko, Bill    | Computer Science |
| fares   | Fraij, Fares   | Computer Science |
| koch    | Hans Koch      | Mathematics      |
| cannata | Cannata, Phil  | Computer Science |
| downing | Downing, Glenn | Computer Science |
| mueller | Peter Mueller  | Mathematics      |
| tran    | Ngoc Tran      | Mathematics      |
| mitra   | Shyamal Mitra  | Computer Science |
+---------+----------------+------------------+

In [30]:
!mysql college -e "select * from Teaches"

+---------+--------+
| tid     | cno    |
+---------+--------+
| neeman  | M362K  |
| mitra   | CS329E |
| fares   | CS331E |
| downing | CS373  |
| mitra   | CS313E |
| mueller | M362K  |
| cannata | CS326E |
| tran    | M358K  |
| koch    | M328K  |
| bulko   | CS303E |
| scohen  | CS327E |
| cannata | CS347  |
+---------+--------+

### Delete column header record from each table

In [21]:
!mysql college -e "delete from Teaches where tid = 'tid'"

In [22]:
!mysql college -e "delete from Instructor where tid = 'tid'"

In [23]:
!mysql college -e "delete from Class where sid = 'sid'"

In [2]:
!mysql college -e "delete from Student where sid = 'sid'"

### 6) Add Primary Keys

In [3]:
!mysql college -e "alter table Student add primary key (sid)"

In [29]:
!mysql college -e "alter table Instructor add primary key (tid)"

In [31]:
!mysql college -e "alter table Teaches add primary key (tid, cno)"

In [4]:
!mysql college -e "desc Student"

+--------+--------------+------+-----+---------+-------+
| Field  | Type         | Null | Key | Default | Extra |
+--------+--------------+------+-----+---------+-------+
| sid    | char(12)     | NO   | PRI | NULL    |       |
| fname  | varchar(200) | YES  |     | NULL    |       |
| lname  | varchar(200) | YES  |     | NULL    |       |
| dob    | date         | YES  |     | NULL    |       |
| status | char(3)      | YES  |     | NULL    |       |
+--------+--------------+------+-----+---------+-------+

### 7) Add Foreign Key

In [32]:
!mysql college -e "alter table Teaches add constraint foreign key (tid) references Instructor (tid)"

In [5]:
!mysql college -e "show create table Teaches"

+---------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
| Table   | Create Table                                                                                                                                                                                                                      |
+---------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
| Teaches | CREATE TABLE `Teaches` (
  `tid` char(12) NOT NULL,
  `cno` char(6) NOT NULL,
  PRIMARY KEY (`tid`,`cno`),
  CONSTRAINT `Teaches_ibfk_1` FOREIGN KEY (`tid`) REFERENCES `Instructor` (`tid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 |
+---------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

### 8) Testing Foreign Key constraint on Teaches.tid

In [33]:
!mysql college -e "insert into Teaches (tid, cno) values ('norman', 'cs313')"

ERROR 1452 (23000) at line 1: Cannot add or update a child row: a foreign key constraint fails (`college`.`Teaches`, CONSTRAINT `Teaches_ibfk_1` FOREIGN KEY (`tid`) REFERENCES `Instructor` (`tid`))